<%- include('includes/head', { pageTitle: 'An error occurred'})%>
</head>
<body>
    <%- include('includes/header')%>
    <main>
        <h1>Something went wrong</h1>
        <p>Please try again later</p>
        <P><a class="btn" href="/">Back To Saftey!</a></P>
    </main>
<%- include('includes/footer')%>